[Unit]
Description=xremap daemon for key remapping
After=graphical-session.target

[Service]
ExecStart=%h/.cargo/bin/xremap %h/.config/xremap/config.yml
Restart=on-failure

[Install]
WantedBy=default.target
